@model ErrorViewModel
@{
    ViewData["Title"] = "오류";
}

@section Styles{
    <style>
        body {
            overflow: hidden;
        }

        a {
            text-decoration: none;
        }

        p {
            font-size: 17px;
        }
        .err-info {
            margin-bottom: 0px;
            color: #a8a8a8;
        }
    </style>
}

<div class="d-flex justify-content-center align-items-center text-center" style="height: 90vh">
    <div class="row">
        <div>
            <img class="mb-3" src="~/img/error.png" width="130px" />
        </div>
        <h2 class="fw-bold">오류가 발생하였습니다.</h2>
        <p class="mb-4">죄송합니다. 귀하의 요청을 처리 할 수 없었습니다.</p>

        <p class="err-info">@(Model.ErrorId ?? "UNKNOWN_ERR")</p>
        <p class="err-info">@(Model.Message ?? "알 수 없는 오류.")</p>

        <a class="mt-4" href="/">홈으로 돌아가기</a>
    </div>
</div>