@{
    ViewData["Title"] = "인증 실패";
}
@section Styles{
    <style>
        body {
            overflow: hidden;
        }
        a {
            text-decoration: none;
        }
        p {
            font-size: 17px;
        }
    </style>
}

<div class="d-flex justify-content-center align-items-center text-center" style="height: 90vh">
    <div class="row">
        <div>
            <img class="mb-3" src="~/img/not_verified.png" width="130px"/>
        </div>
        <h2 class="fw-bold">인증 실패</h2>
        <p>인증 코드가 올바르지 않거나 이미 사용되었습니다.</p>
        <a href="/">홈으로 돌아가기</a>
    </div>
</div>