@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
body {
    height: 100%;
    margin: 0;
    font-family: 'Pretendard Variable', sans-serif;
    user-select: none;
    padding: 15px;
}

.alert-icon {
    margin-right: 15px !important;
}
